APP_AUTH_NAME=Auth-service
APP_AUTH_ENV=development
APP_AUTH_VERSION=v1.0.0
APP_AUTH_HOST=localhost
APP_AUTH_PORT=8096

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=komtim-api
MYSQL_PASS=rahasia123
MYSQL_DB_NAME=db-jds


JWT_SIGNATURE_KEY=SkXmNenea49WWLUlBCpax8
JWT_EXPIRATION_DURATION=360 #expiration duration in minutes


APP_BUSINESS_NAME=Business-service
APP_BUSINESS_ENV=development
APP_BUSINESS_VERSION=v1.0.0
APP_BUSINESS_HOST=localhost
APP_BUSINESS_PORT=8097

VAT_RATES_URL=https://api.vatcomply.com/rates
JDS_PRODUCT_URL=https://60c18de74f7e880017dbfd51.mockapi.io/api/v1/jabar-digital-services/product


REDIS_HOST=localhost:6379
REDIS_USERNAME=
REDIS_PASSWORD=
